<!-- Fullscreen modal -->
<div class="modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen border border-5">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tableModalLabel">{header}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <f:render partial="Table" arguments="{_all}" />
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
