{namespace t=Zarth\Htmltables\ViewHelpers}

<f:for each="{rows}" as="row" iteration="r">
    <f:spaceless>
        <f:render section="Row" arguments="{r:r, row:row.data, data:data, cells:row.records}" />
    </f:spaceless>
</f:for>

<f:comment>
    <!-- render each row …  -->
</f:comment>
<f:section name="Row">
    <f:render section="RowGroupTags" arguments="{r:r, data:data}" />
        <tr{f:if(condition:row.class, then:' class="{row.class}"')}>
            <f:for each="{cells}" as="cell" iteration="c">
                <f:render partial="Cell" arguments="{r:r, c:c, cell:cell.data, header_position: data.table_header_position, records:cell.records}" />
            </f:for>
</f:section>


<f:section name="RowGroupTags">
    <f:comment>
        <!--
            "[…], but the corresponding end tags may always be safely omitted."
            https://www.w3.org/TR/html401/struct/tables.html#h-11.2.3
        -->
    </f:comment>
    <f:if condition="{data.table_header_position}==1">
        <f:then>
            <f:if condition="{r.isFirst}">
                <f:then>
                    <thead>
                </f:then>
                <f:else if="{r.index} == 1 && {r.total} > 1">
                    <tbody>
                </f:else>
                <f:else if="{data.table_tfoot} && {r.isLast} && {r.total} > 2">
                    <tfoot>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{r.isFirst} && {data.table_tfoot}">
                <f:then>
                    <tbody>
                </f:then>
                <f:else if="{data.table_tfoot} && {r.isLast}">
                    <tfoot>
                </f:else>
            </f:if>
        </f:else>
    </f:if>

</f:section>
